@charset "utf-8";

table {
   border: 20px groove gray;
   border-collapse: collapse;
}

th,
td {
   border: 1px solid gray;
   border-collapse: collapse;
   padding: 5px;
   text-align: left;
   vertical-align: top;
}

caption {
   font-size: 1.5em;
   text-align: left;
   vertical-align: top;
}

.firstCol {
   background-color: burlywood;
   column-width: 150px;
}

col#hourCols {
   column-width: 75px;
}

thead {
   background-color: blanchedalmond;
}